 .navbar-brand {
    color: white;
}
    .navbar-brand:focus, .navbar-brand:hover {
    color: #FCBF30;
}
    .navbar-nav .nav-link.show {
    color: #FCBF30;
}
    .nav-link{
    color: white;
}
    .button-link{
    color: white;
}
      .button-link:hover{
    color: #FCBF30;
}
     .nav-link:hover {
    color: #FCBF30;
}
    .nav-link:focus {
    color: #FCBF30;
}
